.authBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
    /* background-color: #242527; */
}
.loadingIcon{
    font-size: 40px;
    padding: 30px;
}
.authForm{
    width: 30%;
}
.button{
    float: right;
}
label{
    color: white;
}