.authBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}
.loadingIcon{
    font-size: 40px;
    padding: 30px;
}
.authForm{
    width: 30%;
}
.button{
    float: right;
}