.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.loadingIcon{
    font-size: 40px;
    padding: 30px;
}
.minusIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.customerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
}
.customerForm{
    display: inline-block;
    width: 600px;
}